
html, body{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
   width: 100%;
   background-color: rgb(32, 4, 4);
}

button{
    border-radius: 50px;
}

.number,
.operator,
.equals,
.special-operator{
    background-color:slategray;
    color: white;
    font-size: 32px;
    font-weight: bold;

}

.number:hover{
    background-color:dimgray;
}

.operator:hover,
#equals:hover{
    background-color: rgb(42, 55, 68);
}

#num0{
    background-color: rgb(70, 87, 104);
    grid-column-start: 1;
    grid-column-end: 3;
}
#num0:hover{
    background-color: rgb(42, 55, 68);
}

#enter{
    background-color: darksalmon;
}

#back{
    background-color:gold;
    color: black;
}
#back:hover{
    background-color: darkgoldenrod;
}

#clear{
    background-color: red;
}
#clear:hover{
    background-color: brown;
}

.calculator{
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 260px;
    min-height: 350px;
    width: 33%;
    height: 70%;
    padding:5px;
    margin: 20px;
    gap: 10px;
    
    border: 10px solid rgb(47, 47, 128);
    border-radius: 3px;
}


.screen{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-bottom: 10px;
    background-color: rgb(171, 178, 185);
    width: 100%;
    height: 15%;
    font-size: 42px;
    
}

.functions{
    flex: 1;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 1px;
    width: 90%;
    height: 70%;
    padding: 10px;
}


.operators{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;


    margin-left: auto;
    max-width: 30%;

}

.numpad-flex{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.numpad{
    display: grid;



    row-gap: 2px;
    column-gap: 2px;
    height: 100%;

}


.operator{
    flex: 1;
    background-color: rgb(70, 87, 104);
    font-size: 40px;
}

.equals{
    flex: 2;
    font-size: 40px;
    background-color: rgb(81, 120, 158)
}


footer{
    margin-top: auto;
}

